@model IEnumerable<Bookie.DirectApp.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="books">
    
    @foreach (var item in Model) {
        <div class="book">
             <a asp-action="Details" asp-route-id="@item.BookId">
                 <img src="@item.ImageUrl" height="150" width="100" />
             </a>
            <p>
                @Html.DisplayFor(modelItem => item.Title)
                <span class="price">
                    @Html.DisplayFor(modelItem => item.Price)
                </span>
            </p>
        </div>
    }
</div>
