html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.books {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.book {
    padding: 15px;
}

.price {
    font-weight: bold;
}

@media (max-width: 768px) {
    .books {
        flex-direction: column;
        flex-wrap: wrap
    }
    .book {
        width: 50%;
    }
}